<div class="plate">
  <div class="screwHolesTop">
    <div class="screwHole screwHoleL"></div>
    <div class="screwHole screwHoleR"></div>
  </div>
  <div class="plate1">
    <div class="stateCounty">
      <div class="rivet rivetL"></div>
      <div class="stateCountyRes">{{stateCountyRes}}</div>
      <div class="rivet rivetR"></div>
    </div>
    <form #plateForm="ngForm" ng-submit="queryPlate()">
      <input 
        text="text"
        inputmode="text"
        name="plate"
        class="plateInput"
        placeholder="Digite a placa aqui"
        [(ngModel)]="plate"
        required
        mask="SSS-0000"
        (keyup.enter)="queryPlate()"
        >
    </form>
  </div>
  <div class="screwHolesBottom">
    <div class="screwHole screwHoleL"></div>
    <div class="screwHole screwHoleR"></div>
  </div>
</div>
