<div class="plate">
    <div class="screwHolesTop">
        <div class="screwHole screwHoleL" style="background-size: 360px 640px"></div>
        <div class="screwHole screwHoleR"></div>
    </div>
    <div class="plate1">
        <div id="stateCounty">
            <div class="rivet rivetL"></div>
            <div id="stateCountyRes">BRASIL</div>
            <div class="rivet rivetR"></div>
        </div>
        <input id="plate" placeholder="Digite a placa aqui" value="" inputmode="text" (keydown.enter)="consulta($event)">
    </div>
    <div class="screwHolesBottom">
        <div class="screwHole screwHoleL"></div>
        <div class="screwHole screwHoleR"></div>
    </div>
</div>