<div class="plate" *ngIf="!mercoSul">
  <div class="screwHolesTop">
    <div class="screwHole screwHoleL"></div>
    <div class="screwHole screwHoleR"></div>
  </div>
  <div class="plate1">
    <div class="stateCounty">
      <div class="rivet rivetL"></div>
      <div class="stateCountyRes">{{stateCountyRes}}</div>
      <div class="rivet rivetR"></div>
    </div>
    <form #plateForm="ngForm" ng-submit="queryPlate()">
      <input text="text" inputmode="text" name="plate" class="plateInput" placeholder="Digite a placa aqui"
        [(ngModel)]="plate" required mask="SSS-0000" (keyup.enter)="queryPlate()">
    </form>
  </div>
  <div class="screwHolesBottom">
    <div class="screwHole screwHoleL"></div>
    <div class="screwHole screwHoleR"></div>
  </div>
</div>

<div class="plateMercosul" *ngIf="mercoSul">
  <div class="countryMercosul">BRASIL</div>
  <form #plateMercoSulForm="ngForm" ng-submit="queryPlate()">
    <input text="text" inputmode="text" name="plateMercoSul" class="plateMercoSulInput" placeholder="Digite a placa aqui"
    [(ngModel)]="plateMercoSul" required mask="SSS0A00" (keyup.enter)="queryPlate()">  </form>
</div>

<div class="type">
  <p class="title">Tipo de veículo:</p>
  <select class="options" [(ngModel)]="selectedType">
    <option value="carros">Carro</option>
    <option value="motos">Moto</option>
    <option value="caminhoes">Caminhão</option>
  </select>
</div>

<div class="mercosul">
  <p class="">Mercosul:</p>
  <label class="switch">
    <input [(ngModel)]="mercoSul" type="checkbox">
    <span class="slider round"></span>
  </label>
</div>
