<app-plateNational [hidden]="mercoSul"></app-plateNational>
<app-plateMercoSul [hidden]="!mercoSul"></app-plateMercoSul>
<div class="type">
  <p class="title">Tipo de veículo:</p>
  <select class="options" [(ngModel)]="selectedType">
    <option value="carros">Carro</option>
    <option value="motos">Moto</option>
    <option value="caminhoes">Caminhão</option>
  </select>
</div>

<div class="mercosul removeBlue">
  <p class="">Mercosul</p>
  <label class="switch">
    <input [(ngModel)]="mercoSul" type="checkbox">
    <span class="slider round"></span>
  </label>
</div>
