.plateResponse {
  background-color: #009140;
  border-radius: 2vw;
  border: 1vw solid #009140;
  box-shadow: inset 0 0 0 .9vw #fff, .3vw .3vw 1vw #000;
  font-family: Mandatory;
  font-size: 5vw;
  padding: 2vw;
  margin: 0 auto 2vw auto;
  color: #fff;
  width: 90%;
}
