.fipeResponse {
  padding: 0;
  width: 94%;

  &:before {
    background: linear-gradient(135deg, #355c8f 0%, #093e82 100%);
  }
}

.title {
  margin: 2vw auto 1vw;
}

.divider {
  position: relative;
  top: 0;
}

.loadingBg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5vw 0;
}

$time: .2;

.loadingText {
  color: #fff;
  text-shadow: 3px 3px 5px #000;
  animation: bouncingLoader #{$time}s infinite alternate;
  opacity: 0;
}

@for $i from 0 through 20 {
  .loadingText:nth-child(#{$i}) {
    animation-delay: $i * 0.1s;
  }
}

@keyframes bouncingLoader {
  0% {
    opacity: 0;
    transform: perspective(100vw) translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    transform: perspective(100vw) translate3d(0, 0, 1vw);
  }
}

.fipeModels {
  margin: 0 auto 1.5vw;
}

.fipeModels:first-of-type {
  margin: 1.5vw auto 1.5vw;
}

.fipeInfo {
  padding: 0 2vw;
}

.fipeInfo:last-of-type {
  padding: 0 2vw 1vw;
}

.reference {
  padding: 0 2vw 2vw;
}

.fipeError {
  padding: 1.5vw 2vw;
}
