<div class="fipeResponse">
  <p class="result">FIPE</p>
  <hr class="divider">
  <p class="fipeError" *ngIf="plateRequestService.fipeError">Veiculo não encontrado</p>
  <p class="fipeError" *ngIf="plateRequestService.fipeNotFound">Você selecionou o
    tipo "{{plateRequestService.vehicleType}}", talvez seje outro tipo de veículo.</p>
  <div class="loadingBg"
    *ngIf="!plateRequestService.fipeOK && !plateRequestService.fipeError && !plateRequestService.fipeNotFound">
    Consultando<p class="loadingText" *ngFor="let letter of letterSeparator('...')">{{letter}}</p>
  </div>
  <div class="fipeModels" *ngFor="let model of plateRequestService.fipeValues">
    <p class="fipeInfo">Modelo: {{model.veiculo}}</p>
    <p class="fipeInfo">Valor: {{model.preco}}</p>
    <hr class="divider">
  </div>
  <p class="reference" *ngIf="plateRequestService.fipeOK">
    Referência: {{plateRequestService.fipeValues[0].referencia}}
  </p>
</div>
