$size:15;

.toolbar {
  position: relative;
  background-color: #f80;
  z-index: 9999;
  width: 100%;
  height: #{$size}vw;
  margin: 0 auto 2vw auto;
}

.title {
  color: #fff;
  font-family: Traffic;
  font-size: #{$size/2.5}vw;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
