$size:15;

.toolbar {
  position: fixed;
  background-color: #f80;
  z-index: 999;
  width: 100%;
  height: #{$size}vw;
  margin: 0 auto 2vw;
  top: 0;
  left: 0;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  justify-content: space-between;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
}

.title {
  color: #fff;
  font-family: Traffic;
  font-size: #{$size/2.5}vw;
  margin-left: 2vw;
}

.sanduwish {
  font-size: 10vw;
  color: #fff;
  cursor: pointer;
  margin-right: 2vw;
}

.menuBg {
  background-color: #0008;
  font-family: Traffic;
  font-size: 10vw;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav {
  font-family: Traffic;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15vw;
  z-index: 1000;
}

.sidenav a {
  padding: 0 0 5vw 5vw;
  text-decoration: none;
  font-size: 5vw;
  color: #fff;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sidenav .closebtn {
  position: absolute;
  top: 2vw;
  right: 2vw;
  font-size: 10vw;
}

.trasform {
  transform: translate(0, -20%);
}
