<div class="toolbar removeBlue" [ngClass]="{'darkMode': sharedService.darkMode}">
  <p class="title">Capcar</p>
  <span class="sanduwish" (click)="openNav()">&#9776;</span>
</div>
<div id="mySidenav" class="sidenav removeBlue" [ngStyle]="{'width' : mySidenav ? '70vw' : '0'}">
  <a class="closebtn" (click)="closeNav()">&times;</a>
  <a (click)="history()">Histórico</a>
  <a (click)="darkMode()">DarkMode <label class="switch trasform">
      <input [(ngModel)]="sharedService.darkMode" type="checkbox">
      <span class="slider round"></span>
    </label></a>
  <a (click)="policy()">Politicas de privacidade</a>
  <a (click)="contact()">Contato</a>
</div>
<app-background></app-background>
<app-loading></app-loading>
<app-plate></app-plate>
<div *ngIf="sharedService.queryOK">
  <app-plateResponse></app-plateResponse>
  <app-fipeValue></app-fipeValue>
</div>
<app-history></app-history>
