<div *ngIf="!sharedService.privacyPolicies" class="privacyPolicies" [ngClass]="{'darkMode': sharedService.darkMode}">
  <button (contextmenu)="false" class="closepPivacyPolicies" (click)="closePrivacyPolicies()"
    [ngClass]="{'darkModeButtom': sharedService.darkMode}">
    <img src="assets/images/close.svg">
  </button>
  <p><strong>Políticas de privacidade</strong></p><br />
  <p>Este site &eacute; mantido e operado por Anderson Marchi (<a
      href="mailto:ads.marchi@gmail.com">ads.marchi@gmail.com</a>) e Jos&eacute; Everton (<a
      href="mailto:everton.31.oliveira@gmail.com">everton.31.oliveira@gmail.com</a>).</p><br />
  <p>N&oacute;s coletamos e utilizamos somente um dado pessoal indireto, que &eacute; placa de um ve&iacute;culo que
    pode
    pertencer a qualquer pessoa. Ao faz&ecirc;-lo, agimos na qualidade de controlador desse dado e estamos sujeitos
    &agrave;s disposi&ccedil;&otilde;es da Lei Federal n. 13.709/2018 (Lei Geral de Prote&ccedil;&atilde;o de Dados
    Pessoais &ndash; LGPD).</p><br />
  <p>N&oacute;s cuidamos da prote&ccedil;&atilde;o de seus dados pessoais e, pois isso disponibilizamos esta
    pol&iacute;tica de privacidade, que cont&eacute;m informa&ccedil;&otilde;es importante sobre:</p><br />
  <p>- Quem deve utilizar nosso site;<br /> - Quais dados coletamos e o que fazemos com eles;<br /> - Seus direitos em
    rela&ccedil;&atilde;o aos seus dados pessoais<br /> - Como entrar em contato conosco.</p><br />
  <p><strong>1. Quem deve utilizar nosso site:</strong></p>
  <p>Nosso site pode ser usado por pessoas de qualquer faixa et&aacute;ria, de acordo com o disposto nesta
    se&ccedil;&atilde;o.</p>
  <p>&nbsp;</p>
  <p><strong>2. Dados que coletamos e motivos da coleta</strong></p>
  <p>Nosso site coleta e utiliza um alguns dado pessoal n&atilde;o direto que &eacute; um dado que n&atilde;o revela
    nenhuma identidade, de acordo o que &eacute; disposta nesta se&ccedil;&atilde;o.</p>
  <p>&nbsp;</p>
  <p><em>2.1. Dado pessoal indireto fornecido expressamente pelo usu&aacute;rio</em></p><br />
  <p>N&oacute;s coletamos o seguinte dado pessoal indireto que nossos nos fornecem expressivamente ao utiliza nosso
    site:
  </p>
  <p>- Placa de ve&iacute;culo</p>
  <p>&nbsp;</p>
  <p>A coleta deste dado pessoal indireto ocorre no seguinte momento:</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Ao fazer uma consulta da placa.</p>
  <p>&nbsp;</p>
  <p>O dado fornecido por nossos usu&aacute;rios &eacute; coletado com as seguintes finalidades:</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Fazer a consulta da placa informada para serem
    retornados as informa&ccedil;&otilde;es do ve&iacute;culo.</p>
  <p>&nbsp;</p>
  <p><strong>3. Por quanto os dados pessoais indiretos s&atilde;o armazenados</strong></p><br />
  <p>Os dados pessoais indiretos coletados pelo site s&atilde;o armazenado localmente no dispositivo que est&aacute;
    acessando o site e utilizados por per&iacute;odo de tempo que corresponda ao necess&aacute;rio para atingir as
    finalidades elencadas neste documento e que considere os direitos de seus titulares, os direitos do controlador do
    site e as disposi&ccedil;&otilde;es legais ou regulat&oacute;rias aplic&aacute;veis.</p>
  <p>&nbsp;</p>
  <p><strong>4. Direitos do usu&aacute;rio</strong></p><br />
  <p>O usu&aacute;rio do site possui os seguintes direitos, conferidos pela Lei de Prote&ccedil;&atilde;o de Dados
    Pessoais:</p><br />
  <p>- Confirma&ccedil;&atilde;o da exist&ecirc;ncia de tratamento;<br /> - Acesso aos dados;<br /> -
    Anonimiza&ccedil;&atilde;o, bloqueio ou elimina&ccedil;&atilde;o de dados desnecess&aacute;rios, excessivos ou
    tratados em desconforme com o disposto na lei;<br /> - Revogar o consentimento;</p>
  <p>&nbsp;</p>
  <ul>
    <li><strong>Medidas de seguran&ccedil;a no tratamento do dado pessoal indireto</strong></li>
  </ul><br />
  <p>Empregamos medidas t&eacute;cnicas e organizativas a proteger os dados pessoais de acessos n&atilde;o autorizados e
    de situa&ccedil;&otilde;es de destrui&ccedil;&atilde;o, perda, extravio ou altera&ccedil;&otilde;es desses dados.
  </p><br />
  <p>As medias que utilizamos levam em considera&ccedil;&atilde;o a natureza dos dados, o contexto e a finalidade do
    tratamento, os riscos que uma eventual viola&ccedil;&atilde;o geraria para os direitos e liberdades do
    usu&aacute;rio,
    e os padr&atilde;o atualmente empregados no mercado por empresas semelhantes &agrave; nossa.</p><br />
  <p>Entre as medidas de seguran&ccedil;a adotadas por n&oacute;s, destacamos as seguintes:</p><br />
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Os dados de nossos usu&aacute;rios s&atilde;o armazenados em ambiente
    seguro;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Limitamos o acesso de nossos usu&aacute;rios, de modo que terceiros n&atilde;o
    autorizados n&atilde;o possam acess&aacute;-los;</p>
  <p>&nbsp;</p>
  <p>Ainda que adote tudo o que est&aacute; ao seu alcance para evitar incidentes de seguran&ccedil;a, &eacute;
    poss&iacute;vel que ocorra algum problema motivado exclusivamente por um terceiro &ndash; como em ataque de hackers
    ou
    crackers, ou ainda, em caso de culpa exclusiva do usu&aacute;rio, que ocorre, por exemplo, quando ele mesmo
    transfere
    os dados a terceiros ou divulgue publicamente. Assim, embora sejamos, em geral, respons&aacute;veis pelos dados
    pessoais que tratamos, nos eximimos de responsabilidade caso ocorra uma situa&ccedil;&atilde;o excepcional como
    essas,
    sobre as quais n&atilde;o temos nenhum tipo de controle.</p><br />
  <p>De qualquer forma, caso ocorra qualquer tipo de incidente de seguran&ccedil;a que possa gerar risco ou dano
    relevante
    para qualquer de nossos usu&aacute;rios, comunicaremos os afetados e a Autoridade Nacional de Prote&ccedil;&atilde;o
    de Dados acerca do ocorrido, em conformidade com os dispostos na Lei Geral de Prote&ccedil;&atilde;o de Dados.</p>
  <p>&nbsp;</p>
  <p><strong>6. Altera&ccedil;&otilde;es nesta pol&iacute;tica</strong></p><br />
  <p>Para esclarecer quaisquer d&uacute;vidas sobre esta Pol&iacute;tica de Privacidade ou sobre os dados pessoais que
    tratamos, entre em conta com nosso Encarregado de Prote&ccedil;&atilde;o de Dados Pessoais, por estes canais
    mencionados abaixo:</p>
  <p><em>E-mail: </em><a href="mailto:ads.marchi@gmail.com"><em>ads.marchi@gmail.com</em></a><em>, </em><a
      href="mailto:everton.31.oliveira@gmail.com"><em>everton.31.oliveira@gmail.com</em></a></p>
  <p>&nbsp;</p>
  <p><strong>7. Como entrar em contato conosco.</strong></p><br />
  <p>Para esclarecer quaisquer d&uacute;vidas sobre esta Pol&iacute;tica de Privacidade ou sobre os dados pessoais que
    tratamos, entre em contato com nosso Encarregado de Prote&ccedil;&atilde;o de Dados Pessoais, por nossos canais
    mencionados abaixo:</p>
  <p><em>E-mail: </em><a href="mailto:ads.marchi@gmail.com"><em>ads.marchi@gmail.com</em></a><em>, </em><a
      href="mailto:everton.31.oliveira@gmail.com"><em>everton.31.oliveira@gmail.com</em></a></p>
</div>
