.cameraBg {
  background-color: #0008;
  font-family: Traffic;
  font-size: 10vw;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}

.closeCam {
  background-color: #fff;
  border: solid .5vw #000;
  border-radius: 100%;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.torch {
  background: none;
  border: none;
  width: 7vw;
  height: 7vw;
  position: absolute;
  top: 19vw;
  right: 0;
  z-index: 1000;
  transform: translateY(-50%);
  padding: 0;
  filter: drop-shadow(0 0 3vw #000);
  -webkit-filter: drop-shadow(0 0 3vw #000);
}

.camera {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  height: 38vw;
  border-radius: 2vw;
}

.vid {
  display: block;
  width: 100%;
  position: relative;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}
