<div class="cameraBg" [ngClass]="{'hidden': sharedService.hiddenCam}">
  <div class="camera">
    <button class="closeCam" (click)="closeCam()">
      <img src="assets/images/close.svg">
    </button>
    <button *ngIf="sharedService.torchOK" class="torch" (click)="changeTorch()">
      <img [src]="sharedService.torchOnOff">
    </button>
    <video #video class="vid" autoplay></video>
    <!-- <div id="canvas" style="position: fixed; transform: translateX(-50%); bottom: 0; left: 50%;"></div> -->
  </div>
</div>
