.loadingBg {
  font-family: Traffic;
  font-size: 10vw;
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingText {
  color: #fff;
  text-shadow: 3px 3px 5px #000;
}
