<div class="plateMercosul">
  <div class="countryMercosul">
    <img [src]="mercoSulIFlag" class="mercoSulIFlag">
    <p>Brasil</p>
    <img [src]="countryFlag" class="countryFlag">
  </div>
  <div class="plateMercosul1" [ngClass]="{'darkMode': sharedService.darkMode}">
    <form #plateMercoSulForm="ngForm" ng-submit="queryPlate()">
      <input text="text" inputmode="text" name="plateMercoSul" class="plateMercoSulInput"
        placeholder="Digite a placa aqui" [(ngModel)]="sharedService.plateMercoSul" required mask="SSS0A00"
        (keyup.enter)="queryPlate($event)" (keyup)="checkValid()" autocomplete="off">
    </form>
  </div>
  <p class="initials">{{initials}}</p>
</div>
