/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Mandatory;
  src: url(assets/fonts/mandatory.ttf) format('truetype');
}

@font-face {
  font-family: FE-Font;
  src: url(assets/fonts/fe-font.ttf) format('truetype');
}

@font-face {
  font-family: Traffic;
  src: url(assets/fonts/traffic3.ttf) format('truetype');
}


* {
  outline: none;
  margin: 0;
}

body {
  margin-top: 18vw;
}

.removeBlue {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
