$border: 1vw;

.plateResponse {
  &:before {
    background: linear-gradient(135deg, #499bea 0%, #0000ff 100%);
  }
}

.title {
  margin: 0 auto 3.5vw;
}

.situationResponse {
  text-align: center;
  &:before {
    background: linear-gradient(135deg, #008800 0%, #00aa00 100%);
  }
}

.theft {
  font-size: 7vw;
  &:before {
    background: linear-gradient(135deg, #ff3030 0%, #ff0000 100%);
  }
}

.call {
  width: auto;
  margin-top: 2vw;
  background: linear-gradient(135deg, #008800 0%, #00aa00 100%);
  &:before {
    background: linear-gradient(135deg, #008800 0%, #00aa00 100%);
  }
}

.call>img {
  width: 6vw;
  float: right;
  margin-left: 2vw;
}
