<div class="plateResponse">
  <p class="result">Resultado</p>
  <hr class="divider">
  <p>Marca: {{titleize(plateRequestService.plateResponse.marca, false, false)}}</p>
  <p>Modelo: {{titleize(plateRequestService.plateResponse.modelo, true, true)}}</p>
  <p>Cor: {{plateRequestService.plateResponse.cor}}</p>
  <p>Localidade:
    {{plateRequestService.plateResponse.uf}}/{{titleize(plateRequestService.plateResponse.municipio, false, true)}}</p>
  <p>Ano de fabricação: {{plateRequestService.plateResponse.ano}}</p>
  <p>Ano modelo: {{plateRequestService.plateResponse.anoModelo}}</p>
  <p>Chassi: {{plateRequestService.plateResponse.chassi}}</p>
</div>
