<div class="plateResponse">
  <p class="result">Resultado</p>
  <hr class="divider">
  <p>Marca: {{plateRequestService.plateResponse.marca}}</p>
  <p>Modelo: {{plateRequestService.plateResponse.modelo}}</p>
  <p>Cor: {{plateRequestService.plateResponse.cor}}</p>
  <p>Localidade: {{plateRequestService.plateResponse.uf}}/{{plateRequestService.plateResponse.municipio}}</p>
  <p>Ano de fabricação: {{plateRequestService.plateResponse.ano}}</p>
  <p>Ano modelo: {{plateRequestService.plateResponse.anoModelo}}</p>
  <p>Chassi: {{plateRequestService.plateResponse.chassi}}</p>
</div>
