<div class="plateResponse" [ngClass]="{'darkMode darkModePlate': sharedService.darkMode}">
  <p class="result">Resultado</p>
  <hr class="divider">
  <p>Placa: {{hyphenation(sharedService.plateResponse)}}</p>
  <p>Marca: {{titleize(sharedService.plateResponse.marca, false, false)}}</p>
  <p>Modelo: {{titleize(sharedService.plateResponse.modelo, true, true)}}</p>
  <p>Cor: {{sharedService.plateResponse.cor}}</p>
  <p>Localidade:
    {{sharedService.plateResponse.uf}}/{{titleize(sharedService.plateResponse.municipio, false, true)}}</p>
  <p>Ano de fabricação: {{sharedService.plateResponse.ano}}</p>
  <p>Ano modelo: {{sharedService.plateResponse.anoModelo}}</p>
  <p>Chassi: {{sharedService.plateResponse.chassi}}</p>
</div>
