<div *ngIf="sharedService.historyOpen" class="historyBg">
  <div class="history">
    <button class="closeHistory" (click)="closeHistory()"><img src="assets/images/close.svg"></button>
    <table>
      <tr>
        <th colspan="3">Histórico</th>
      </tr>
      <tr *ngIf="sharedService.history != null">
        <th>Modelo</th>
        <th>Placa</th>
        <th>Data</th>
      </tr>
      <tr *ngFor="let car of sharedService.history" (click)="queryPlate(car)">
        <td>{{car.modelo.split(" ")[0]}}</td>
        <td class="plate">{{car.placa}}</td>
        <td>{{car.data | date:'dd/MM/yyyy HH:mm'}}</td>
      </tr>
      <tr *ngIf="sharedService.history == null">
        <th colspan="3">Nenhuma consulta foi feita.</th>
      </tr>
    </table>
  </div>
</div>
